@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --fonte-Roboto:  'Roboto', sans-serif;
 }

 * {
    margin: 0px;
    padding: 0px;
 }

 body {
    background-color: #141517;
    color: white;
}

 #a {
   font-family: var(--fonte-Roboto);
   font-weight: 100;
 }

 #i1 {
    position: absolute;
    left: 1vw;
    bottom: 0vh;
 }

 h2#um {
    position: absolute;
    left: 86vw;
    top: 1vw;
    font-family: var(--fonte-Roboto);
 }

 #linha {
    position: absolute;
    left: 1em;
    padding: 3px;
    padding-top: 0.3px;
    background-color: white;
    border-radius: 3px;
    width: 20px;
 }

 button#dois {
    position: absolute;
    left: 90vw;
    top: 1vw;
    font-family: var(--fonte-Roboto);
    padding: 8px;
    background-color: white;
    color: black;
    font-weight: 400;
    border-radius: 16px;
    font-family: var(--fonte-Roboto);
    background-size: 1.5em;
    border: none;
    outline: none
 }

 button#dois:hover {
   position: absolute;
   left: 90vw;
   top: 1vw;
   font-family: var(--fonte-Roboto);
   padding: 8px;
   background-color: rgb(192, 192, 192);
   color: black;
   font-weight: 400;
   border-radius: 16px;
   font-family: var(--fonte-Roboto);
   border: none;
   outline: none
}

 #cima {
    font-family: var(--fonte-Roboto);
    position: absolute;
    left: 65vw;
    top: 20vh;
    font-size: 2.5em;
 }

 h1#baixo {
    font-family: var(--fonte-Roboto);
    position: absolute;
    left: 62vw;
    top: 25vh;
    font-size: 2.5em;
 }

 p#p1 {
    font-family: var(--fonte-Roboto);
    position: absolute;
    left: 60vw;
    top: 33vh;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    color: #00000098;
 }

 p {
    font-family: var(--fonte-Roboto);
    position: absolute;
    left: 60vw;
    top: 40.9vh;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    color: #00000098;
 }

 h5 {
    font-family: var(--fonte-Roboto);
    position: absolute;
    left: 60vw;
    top: 47vh;
    margin-left: 18em;
    font-weight: 100;
 }

 #b3 {
    font-family: var(--fonte-Roboto);
    position: absolute;
    left: 60vw;
    top: 53vh;
    padding: 20px;
    margin-left: -5px;
    width: 355px;
    border-radius: 10px;
    font-weight: 900;
    background-color: white;
    color: #000;
 }

 #b3:hover {
   font-family: var(--fonte-Roboto);
   position: absolute;
   left: 60vw;
   top: 53vh;
   padding: 20px;
   margin-left: -5px;
   width: 355px;
   border-radius: 10px;
   font-weight: 900;
   background-color: rgb(192, 192, 192);
   color: #000;
}

 #l2 {
    position: absolute;
    top: 7px;
    left: 130px;
    width: 100px;
 }

 #h4B {
    font-family: var(--fonte-Roboto);
    position: absolute;
    left: 61vw;
    top: 61vh;
    margin-left: 6em;
 }

 #l1 {
    position: absolute;
    top: 7px;
    right: 130px;
    width: 100px;
 }

#i2 {
    position: absolute;
    left: 60vw;
    top: 66vh;
    width: 350px;
 }

 h4 {
    position: absolute;
    left: 60vw;
    top: 75vh;
    margin-left: 40px;
    font-family: var(--fonte-Roboto);
    font-weight: 100;
 }